.header-card-custom {
    border-top: outset;
    border-left: outset;
    position: absolute;
    top: -30px;
    left: -2.1px;
    padding: 10px 25px 0px 25px;
    border-bottom: aliceblue;
    border-radius: 8px 8px 0px 0px;
    font-weight: 300;
}

.header-table {
    background:rgb(55 98 255) !important;
    border-color: rgb(55 98 255) !important;
    color: #fff;
}

.icon_obligatorio {
    text-decoration: none;
    color: red;
    margin-left: 3px;
}

.bg-header-purple{
    background:#2738F5 !important;
    border-color: #2738F5 !important;
    color: #fff !important;
}

.btn-purple {
    color: #fff;
    background:rgb(55 98 255) !important;
    border-color: rgb(55 98 255) !important;
    box-shadow: none;
}

.btn-purple:hover {
    color: #fff;
   
   /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background:  linear-gradient(45deg, rgb(55 98 255) 0%, rgb(94 54 255) 30%, rgb(145 0 255) 160%);*/
}


[class*="sidebar-dark-"] {
    background-color: #080f22 !important;
  }