.header-card-custom {
    border-top: outset;
    border-left: outset;
    position: absolute;
    top: -30px;
    left: -2.1px;
    padding: 10px 25px 0px 25px;
    border-bottom: aliceblue;
    border-radius: 8px 8px 0px 0px;
    font-weight: 300;
}

.header-table {
    background: #4a3fff !important;
    border-color: #4a3fff !important;
    color: #fff;
}

.icon_obligatorio {
    text-decoration: none;
    color: red;
    margin-left: 3px;
}

.bg-header-purple {
    background: #4a3fff !important;
    border-color: #4a3fff !important;
    color: #fff !important;
}

.btn-purple {
    color: #fff;
    background: rgb(55 98 255) !important;
    border-color: rgb(55 98 255) !important;
    box-shadow: none;
}

.btn-purple:hover {
    color: #fff;

    /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background:  linear-gradient(45deg, rgb(55 98 255) 0%, rgb(94 54 255) 30%, rgb(145 0 255) 160%);*/
}

[class*="sidebar-dark-"] {
    background-color: #080f22 !important;
}

[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active,
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:focus,
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:hover {
    color: #fff;
}

.btn-primary {
    background: #4a3fff !important;
    border-color: #4a3fff !important;
}

.btn-primary:hover {
    transform: scale(1.1); /* Aumento del 10% */
    transition: transform 0.5s ease; /* Transición suave durante 0.5 segundos */
}

.bg-gradient-dark {
    border-radius: 18px !important;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.25) !important;
}

.login-logo img {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25) !important;
    border-radius: 150px !important;
}

.btn.btn-flat {
    border-radius: 13px !important;
}

.input-group-append {
    cursor: pointer !important;
}

.btn-estado-size {
    border-radius: 15px;
    padding: 0px 10px;
}

.btn-price-size {
    border-radius: 5px;
    padding: 0px 15px;
    font-weight: bold;
    font-size: medium;
}



/* div.dataTables_wrapper div.dataTables_filter {
    display: none !important;
} */
.card-user {
    background-color: #343a40;
    color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    /* Añadir sombra */
}

.card-header-user {
    background-color: #212529;
    border-bottom: none;
    font-size: 24px;
}

.card-body-user {
    padding: 40px;
}

.user-image-icon {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 0 auto 20px;
    display: block;
}

.user-info-details {
    font-size: 18px;
}

.user-label {
    font-weight: bold;
}

.card-footer-user {
    background-color: #212529;
    border-top: none;
}

.card-footer-user a {
    color: #fff;
}

.header-modal-color{
    background-color: #212529;
    border-bottom: 1px solid #212529 ! important;
    color: white;
}
.footer-modal-color{
    background-color: #212529;
    border-top: 1px solid #212529 ! important;
    color: white;
}

.login-logo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav-sidebar>.nav-item {
    font-weight: 500;
}